<form class="example-form" [formGroup]="form">
  <mat-form-field class="example-full-width">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Premiere</mat-label>
    <input matInput formControlName="premiere">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Director</mat-label>
    <input matInput formControlName="director">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Minimum Age</mat-label>
    <input matInput formControlName="minAge">
  </mat-form-field>

  <button mat-button (click)="add()">Add movie</button>
</form>
