<div style="background: black">
<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        View users list
      </mat-panel-title>
      <mat-panel-description>
        User permissions
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list>
      <mat-list-item>USER 1

        <mat-radio-group aria-label="Select an option" style="    margin-left: 575px;">
          <mat-radio-button value="1" style="margin-left: 15px">Admin</mat-radio-button>
          <mat-radio-button value="2" style="margin-left: 15px">Regular user</mat-radio-button>
          <mat-radio-button value="3" style="margin-left: 15px">Blocked user</mat-radio-button>
        </mat-radio-group>

      </mat-list-item>

      <mat-divider>

      </mat-divider>
      <mat-list-item>USER 2
        <mat-radio-group aria-label="Select an option" style="    margin-left: 575px;">
          <mat-radio-button value="1" style="margin-left: 15px">Admin</mat-radio-button>
          <mat-radio-button value="2" style="margin-left: 15px">Regular user</mat-radio-button>
          <mat-radio-button value="3" style="margin-left: 15px">Blocked user</mat-radio-button>
        </mat-radio-group></mat-list-item>
      <mat-divider>

      </mat-divider>
      <mat-list-item>USER 3
        <mat-radio-group aria-label="Select an option" style="    margin-left: 575px;">
          <mat-radio-button value="1" style="margin-left: 15px">Admin</mat-radio-button>
          <mat-radio-button value="2" style="margin-left: 15px">Regular user</mat-radio-button>
          <mat-radio-button value="3" style="margin-left: 15px">Blocked user</mat-radio-button>
        </mat-radio-group></mat-list-item>
    </mat-list>

  </mat-expansion-panel>
</mat-accordion>


  <button mat-button style="width: 1000px;margin-top: 20px; margin-bottom: 20px;background: white;">Add new movie</button>


<!--  <h1 style="color: white">ADD MOVIES</h1>-->
<!--  <form class="example-form" formGroup>-->
<!--    <mat-form-field class="example-full-width" style="background: white;margin-bottom: 20px; margin-right: 20px;padding: 10px;">-->
<!--      <mat-label>Favorite food</mat-label>-->
<!--      <input matInput placeholder="Ex. Pizza" value="Sushi">-->
<!--    </mat-form-field>-->

<!--    <mat-form-field class="example-full-width" style="background: white; margin-bottom: 20px; margin-right: 20px;padding: 10px;">-->
<!--      <mat-label>Leave a comment</mat-label>-->
<!--      <input matInput placeholder="Ex. Pizza" value="Sushi">-->
<!--    </mat-form-field>-->
<!--  </form>-->


</div>
