<form class="example-form" [formGroup]="form">
  <mat-form-field class="example-full-width" >
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Surname</mat-label>
    <input matInput formControlName="surname">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Age</mat-label>
    <input matInput formControlName="age">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password">
  </mat-form-field>


  <button mat-button (click)="signIn()">SIGN IN</button>
</form>
